:root
{
  --blue: #0062FF;
  --light-blue: #50B8EA;
  --red: #AB4562;
  --whiteish: #F6F9F9;
  --blackish: #262936;


}

*
{
  /* background: rgba(0, 100, 0, .1) !important; */
  outline: 1px solid limegreen !important;
}

html
{
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--whiteish);
  scroll-behavior: smooth;

}

body
{
  width: 100%;
  margin: auto;
  font-size: 1.8rem;
  background-color: var(--blackish);
}

.page-wrapper
{
  margin: auto;
  width: 100%;
  height: 100%;
}

.nav
{
  display: flex;
  margin: auto;
  position: fixed;
  background-color: var(--blue);
  justify-content: flex-end;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-list
{
  display: inline-flex;
  list-style: none;

}

.nav-list li
{
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  color: var(--whiteish);
}

.nav-list a:hover
{
  background-color: var(--light-blue);
}

.nav-list a
{
  padding: 1.8rem;
  color: inherit;
  text-decoration: none;
}

.welcome-section
{
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}

.welcome-section-headers
{
  position: relative;
  padding: 40vh 0 0;
}

.welcome-section-headers h1
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  color: var(--whiteish);
}

.welcome-section-headers h2
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: var(--red);
}

.welcome-section-headers h3
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  color: var(--light-blue)
}

.projects-section
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5% 0 0;
  background-color: var(--whiteish);
  min-height: 100vh;
}

.projects-section h2
{
  position: relative;
  margin-top: 1000px;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  color: var(--blackish);
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.projects-container
{
  position: relative;
  width: 90%;
  min-height: 80vh;
  max-height: 80vh;
  margin: auto;
  background-color: var(--blackish);
}

.project
{
  width: 100%;
  height: 100%;
}

.project-text
{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.project-text h2
{
  text-decoration: none;
  color: var(--whiteish);
}

.project-img-container
{
  position: absolute;
  float: right;
  right: 0;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.project-img-container > img
{
  object-fit: cover;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.contact-section
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5% 0 0;
  background-color: var(--blackish);
  min-height: 100vh;
}

.contact-section a
{
  color: inherit;
  text-decoration: none;
}