:root
{
  --blue: #0062FF;
  --light-blue: #50B8EA;
  --red: #AB4562;
  --whiteish: #F6F9F9;
  --blackish: #262936;


}

*
{
  /* background: rgba(0, 100, 0, .1) !important; */
  /* outline: 1px solid limegreen !important; */
}

html
{
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--whiteish);
  scroll-behavior: smooth;

}

body
{
  width: 100%;
  margin: auto;
  font-size: 1.8rem;
  background-color: var(--blackish);
}

.page-wrapper
{
  margin: auto;
  width: 100%;
  height: 100%;
}

.nav
{
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-list
{
  display: inline-flex;
  list-style: none;
  padding-left: 15px;
}

.nav-list li
{
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  color: var(--whiteish);
  font-size: 2.5rem;
  border: 2px solid var(--whiteish);
  border-radius: 5px;
  transition: all .1s ease-in-out;
}

.nav-list li:hover
{
  /* background-color: var(--light-blue); */
  transform: scale(1.1);
}

.nav-list a
{
  padding: 1.8rem;
  color: inherit;
  text-decoration: none;
}

.welcome-section
{
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.welcome-section-headers
{
  position: absolute;
  text-align: center;
  top: 40%;
  width: 50%;
  z-index: 2;
  text-shadow: 2px 2px 1px black;
}

.welcome-section-background-img
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.gradient
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--blackish), transparent);
  z-index: 1;
}

.button-container
{
  position: absolute;
  bottom: 9%;
  width: 100%;
}

.button-container > button 
{
  position: absolute;
  width: 6rem;
  left: 50%;
  border-radius: 50%;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
  background-color: transparent;
  color: var(--whiteish);
  border: 4px solid var(--whiteish);
  margin: 0 auto;
  opacity: .4;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.button-container > button:hover
{
  opacity: 1;
}

.welcome-section-headers h1
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  color: var(--whiteish);
}

.welcome-section-headers h2
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  color: var(--red);
}

.welcome-section-headers h3
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: var(--light-blue)
}

.projects-section
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* padding: 5% 0 0; */
  background-color: var(--blackish);
  min-height: 100vh;
}

.projects-section > h2
{
  position: relative;
  margin-top: 1000px;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  color: var(--whiteish);
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.projects-container
{
  position: relative;
  width: 90%;
  min-height: 80vh;
  max-height: 80vh;
  margin: auto;
  padding: 2rem;
  /* background-color: var(--blackish); */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(25%, 50%);
}

.project
{
  position: relative;
  width: 100%;
  /* height: 100%; */
  outline: 4px solid var(--whiteish) !important;
  border-radius: 2%;
  overflow: hidden;
  background-position:  center center;
  background-repeat: no-repeat;
  object-position: center;
  cursor: pointer;
}

.project img
{
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

.project-title-header
{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  bottom: 0;
  left:0;
  right: 0;
  margin: 0 auto 2rem auto;
  color: var(--);
  text-align: center;
  background-color: var(--red);
}

.contact-section
{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5% 0 0;
  background-color: var(--blackish);
  min-height: 25vh;
}

.contact-section a
{
  color: inherit;
  text-decoration: none;
}